.empty {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	width: 100%;
}

li {
	width: 100%;
}

li.total {
	margin: 0.5rem auto 1rem auto;
	display: flex;
	align-items: center;
	justify-content: center;

}

li.load-more {
	margin: 0.5rem auto 1rem auto;
	width: 4rem;
	height: 4rem;
	border: 1px solid gray;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

li > a {
	display: flex;
	padding: 0.75rem;
	margin: 0.5rem;
	border-radius: 0.5rem;
}

li > a, li.load-more {
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.5s ease;
}

li > a:hover, li.load-more:hover {
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
}

li > a > .poster {
	height: 6rem;
}

.poster > img {
	height: 100%;
	font-size: 0.5rem;
}

li > a > .text {
	margin-left: 0.5rem;
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 0.8rem;
}

a > .text .title {
	font-size: 1rem;
}

@media screen and (min-width: 768px) {
	li {
		width: 50%;
	}
}

@media screen and (min-width: 1024px) {
	li {
		width: 33.3%;
	}
}

@media screen and (min-width: 1440px) {
	li {
		width: 25%;
	}
}
